[submodule ".registry"]
	path = .registry
	url = https://github.com/vnnikolaidis/universe
	shallow = true
	branch = HEAD
[submodule "nnlib2Rcpp"]
	path = nnlib2Rcpp
	url = https://github.com/VNNikolaidis/nnlib2Rcpp
	shallow = true
	registered = true
